.nav {
    background-color: rgba(0, 0, 0, 0.267);
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 1000;
}

.logo{
    position: relative;
    top: 15px;
    color: white;
}

.logo-vr{
    color: red;
    font-size: 30px;
}

.nav-list {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease; /* Add transition for width and height */

}

.nav-list li a:hover {
    color: rgb(197, 16, 16);
}

.searchbar input {
    border-radius: 20px;
    margin: 5px;
}

.nav-options {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 80px;
    margin-left: 100px;
    margin-top: 10px;
}

.user{
    color: white;
    background-color: rgba(40, 40, 182, 0.753);
    padding: 7px;
}